<link rel="stylesheet" href="css/fieldDesign.css">

<div class="container">
	<div class="row">
		

		<div id="content"></div>
		<script src="js/home/generate.js"></script>
		<script>
			Generate(<%- JSON.stringify(layout.fields) %>);
		</script>
	</div>
</div>