<link rel="stylesheet" href="css/sidebar.css" >
<script> var categories = <%- JSON.stringify(categories) %>; </script>
<script src="js/sidebar.js"></script>

<div class="sidebar-wrapper col-md-3 col-sm-4">
	<h3>KATEGORIER</h3>
</div>