<html>
	<head>
		<% include partials/ejs/head.ejs %>
		<link rel="stylesheet" href="css/admin.css">
		
		<script src="js/admin.js"></script>
	</head>
	<body>	
		<header class="container-fluid">
			<h1>NORR</h1>
			<nav>
				<ul>
					<li><a href="orders">ORDERS</a></li>
					<li><a href="product">PRODUCTS</a></li>
					<li><a href="users">USERS</a></li>
					<li><a href="layout">HOMEPAGE</a></li>
				</ul>
			</nav>
		</header>
		<div class="container">
				<% if(typeof(content) == 'undefined') { %>
					<h3>HEJ <%= username.name.toUpperCase() %></h3>
				<% } else if(content.type == 'homepage') { %>
					<% include partials/ejs/admin/layout.ejs %>
				<% } else if(content.type == 'products') { %>
					<% include partials/ejs/admin/product.ejs %>
				<% } else if(content.type == 'users') { %>
					<% include partials/ejs/admin/users.ejs %>
				<% } else if(content.type == 'orders') { %>
					<% include partials/ejs/admin/orders.ejs %>
				<% } %>
		</div>
	</body>	
</html>