<html>
<head>
	<% include partials/ejs/head.ejs %>
</head>
<body id="main">
	<% include partials/ejs/header.ejs %>

	<% if(type == 'home') { %>
		<% include partials/ejs/home.ejs %>
	<% } %>
	<% if(type == 'products') { %>
		<% include partials/ejs/products.ejs %>
	<% } %>
</body>
</html>