header {
	position: relative;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input button:active{
	color: blue;
}

#custom-search-input button:focus{
	outline: none;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#logo {
	font-family: 'Amatic SC', cursive;
	font-size: 64pt;
	text-align: center;
}

#logo > a {
	text-decoration: none;
	color: #444;
}
#logo > a:hover {
	text-decoration: none;
}


/******* hearts, basket, login - field *************************************/
header > section {
	position: absolute;
	right: 0;
	width: 30%;
	min-width: 400px;
	max-width: 450px;
}

header > section > div {
	position: relative;
	width: 30%;

	float: left;
	text-align: right;
}

header > section > div:first-child > a {
	color: red;

	padding-right: 1px;
}

header > section > div > div {
	position: absolute;
	left: -80px;
	width: 200%;

	max-width: 230px;
	display: none;
}

#searchResult > li > a {
	display: block;
	width: 100%;
}


.register {
	display: none;
}

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-1px;
   right:-20px;
   font-size:.7em;
   background:#CD55A2;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}


/******* navbar ********************/
nav {
	text-align: center;
	margin: 15px;
}
nav > a {
	text-decoration: none;
	color: black;
	margin: 0 10px;
	font-size: 14pt;
}
nav > a:hover {
	color: black;
}
