.slide-container {
	position: relative;
	height: 400px;
	margin-top: 3em;
	border: 10px solid white;
	box-shadow: 0 0 2px #555;
	border-radius: 3px;
}

.slide-controller {
	position: absolute;
	top: 45%;
	width: 10%;
	height: 100%;
	line-height: 100%;
	text-align: center;
}
.slide-controller > button {
	border: none;
	background: none;
	color: #777;
}
.slide-controller > button:focus {
	outline: none;
}
.slide-controller > button:active {
	color: black;
}
.right {
	right: -12%;
}
.left {
	left: -12%;
	display: none;
}

.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	border: 1px solid #888;
	border-radius: 3px;
}
.slide-circles {
	z-index: 10;
	position: absolute;
	text-align: center;
	width: calc(100% - 20px);
	bottom: 15px;
}
.slide-circles > i {
	color: #def;
	margin: 0 10px;
	cursor: pointer;
}
.slide > div {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	/*box-sizing: border-box;*/
	display: inline-block;
}
.slide > div > img {
	position: relative;
	height: 90%;
	z-index: 0;
	margin: auto;
	max-width: 100%; 
	padding: 10px;
}
.slide > div > div {
	position: absolute;
}

.slide-circles > .slide-selected {
	color: #bce;
}

.slide-thumbnails {
	z-index: 0;
	position: absolute;
	top: calc(100% + 10px);
	left: 0;
	margin-top: 10px;
	height: 30%;
}
.slide-thumbnails > span {
	height: 80%;
	display: inline-block;
	margin: 0 6px; 
	box-shadow: 0 0 2px #000;
	padding: 5px;
	cursor: pointer;
}
.slide-thumbnails > span > img {
	border: 1px solid #777;
	height: 100%;
}
.slide-thumbnail-select {
	background-color: #DCDBFF;
}