<link rel="stylesheet" href="css/admin/categories.css" >
<script src="js/admin/categories.js"></script>

<div class="row"><ul id="categoriesList" class="col-xs-8 col-xs-offset-2"></ul></div>
<div class="row">
  <button onclick="showPopup(1)" type="button" name="button" class="btn sharp btn-success col-xs-8 col-xs-offset-2"><i class="fa fa-plus"></i> NY KATEGORI</button>
</div>

<div id=popup-container>
  <div id="popup">
    <div class="panel panel-danger">
      <div class="panel-heading">Force Delete</div>
      <div class="panel-body">
        <p id='forceDeleteMSG'></p>
        <div class="input-group">
          <span class="input-group-addon">Name of Category</span>
          <input class="form-control" type="text" name="forceDelete" value="" id="forceDelete">
        </div>
        <br>
        <button type="button" name="button" class="btn btn-primary" id="forceConfirm">Confirm</button>
        <button type="button" name="button" class="btn btn-danger" onclick="hidePopup()">Cancle</button>
      </div>
    </div>

    <div>
      <label for="parent">HUVUD KATEGORI</label>
      <select name="parent" id="parent" class="form-control">
        <option value="-1" selected="selected">INGEN</option>
      </select>
      <br>
      <label for="name">KATEGORI NAMN</label>
      <input type="text" name="name" id="name" placeholder="NAMN PÅ KATEGORIN" class="form-control">
      <br>
      <button type="button" onclick="addCategory()" class="btn sharp btn-primary" name="button"><i class="fa fa-plus"></i> LÄGG TILL</button>
    </div>
  </div>
</div>
