<div class="col-md-10 col-md-offset-1 table-responsive row">
<table class="table table-striped" offset="0">
	<thead>
	<tr>
		<th></th>
		<th type="name">NAMN<i class="fa fa-caret-down"></i></th>
		<th type="category">KATEGORI<i class="fa fa-caret-left"></i></th>
		<th type="info">INFO<i class="fa fa-caret-left"></i></th>
		<th type="price">PRIS<i class="fa fa-caret-left"></i></th>
		<th type="rea">REA<i class="fa fa-caret-left"></i></th>
		<th type="stock">LAGER<i class="fa fa-caret-left"></i></th>
		<th></th>
	</tr>
	</thead>
	<tbody></tbody>
</table>
</div>
