ul#categoriesList {
  list-style: none;

  margin-top: 5%;
}

ul#categoriesList > li {
  height: 4%;
  min-height: 35px;
  background-color: white;
  margin: 2px auto;
}
ul#categoriesList > li:last-child {
  border-bottom: none;
}
ul#categoriesList > li:hover {
  background-color: #eee;
}

ul#categoriesList > li > button {
  height: 100%;
}
ul#categoriesList > li > p {
  text-align: center;
  cursor: pointer;
}
