table {
	margin-top: 2em;
	position: relative;
}
th {
	position: relative;
	cursor: pointer;
}
th:hover {
	background-color: #ccc;
}
th > i {
	position: absolute;
	right: 10%;
}

.first > i {
	margin-right: 10px;
}
.prev > i {
	margin-right: 10px;
}

.last > i {
	margin-left: 10px;
}
.next > i {
	margin-left: 10px;
}

table .info2 {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 120px;
	white-space: nowrap;
	cursor: pointer;
}