header > section > div > div {
	outline: 1px solid blue;
	width: 100%;
	display: none;
}

.namefield > p {
	width: 50%;
	padding: 0;
	margin: 0;
	width: 80px;
}
.namefield > p > a {
	color: black;
}

header > section > div > p {
	float: left;
	text-align: center;
	color: #555;
	/*margin: 0 5px;*/

	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
	                                  not supported by any browser */
}

header > section > div > p:hover {
	color: #111;
}
header > section > div > p:active {
	color: #000;
   	font-weight: bold;
}
nav {
	text-align: center;
	margin: 15px;
}
nav > a {
	text-decoration: none;
	color: black;
	margin: 0 10px;
	font-size: 14pt;
}
nav > a:hover {
	color: black;
}

header > section > div + div > div > div > div {
	margin-bottom: 6px;
}
.register > button {
	width: 100%;
}
.register {
	display: none;
}





/******** temp 2 ***************/
header > section {
	/*position: absolute;
	right: 20px;

	width: 30%;
	min-width: 200px;
	max-width: 250px;*/
	z-index: 10;
}

header > section > div {
	width: 30%;
	outline: 1px solid blue;
	min-height: 30px;
}
header > section > div > div {
	outline: 1px solid black;
	width: 100%;
	display: none;
}
header > section > div > p {
	width: 100%;
	background-color: #999;
}

.namefield > p {
	width: 50%;
	padding: 0;
	margin: 0;
	width: 80px;
}
.namefield > p > a {
	color: black;
}

header > section > div > p {
	float: left;
	text-align: center;
	color: #555;
	/*margin: 0 5px;*/

	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
	                                  not supported by any browser */
}

header > section > div > p:hover {
	color: #111;
}
header > section > div > p:active {
	color: #000;
   	font-weight: bold;
}
nav {
	text-align: center;
	margin: 15px;
}
nav > a {
	text-decoration: none;
	color: black;
	margin: 0 10px;
	font-size: 14pt;
}
nav > a:hover {
	color: black;
}

header > section > div + div > div > div > div {
	margin-bottom: 6px;
}
.register > button {
	width: 100%;
}
.register {
	display: none;
}


.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.Hheart {
	background: blue;
  border: 0;

	color: #E55451;
}

.Hheart:hover {
	color: #E42217;
}
